@charset "UTF-8";
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#container{
    background-color: rgb(48, 203, 151);
    padding: 10px;
    display: flex;
    height: 500px;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
}
.item{
    border: 1px solid black;
    padding: 20px;
    background-color: white;
    color: black;
    width: 250px;
}

