@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap');

*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
.menu-h{
    background-color: rgb(42, 42, 50);
}
.menu-h ul{
    max-width: 800px;
    list-style-type: none;
    padding: 0;
    background-color: rgb(42, 42, 50);
}

.menu-h ul li{
    display: inline;
    
}

.menu-h li a{
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-decoration: none;
    padding: 15px;
    display: inline-block;
}

.menu-h li a:hover{
    color: #9C1FFF;
    transition: 0.2s;
}
.menu-h li:last-child a{
    background-color: rgb(101, 101, 254);
    float: right;
}
.menu-h li:last-child a:hover{
    color: white;
}

