@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700;900&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 100%;
}

header{
    background-color: black;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

header img{
    width: 200px;
}

header nav ul{
    display: flex;
}

header li a{
    color: white;
}

header li{
    margin: 0px 15px;
}

header li:first-child, header li:last-child{
    margin-right: 0px;
}
ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    opacity: 0.9;
    cursor: pointer;
}

a:hover{
    opacity: 1;
}

